.container {
    width: 50%;
    margin: 0 auto;
    gap: 2em;
}

#player-name {
    margin-bottom: 1em;
}

.button {
    margin: 0;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1.5em;
}
