* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --tile-curve: 50%;
    --board-rotation: 60deg;
}

.app-container {
    background: #b6efd48e;
    display: flex;
    place-content: center;
    height: 100vh;
}

.board {
    flex-grow: 1;
    display: grid;
    margin: 0 15%;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 10px;
    column-gap: 8px;
    transform: perspective(2000px) rotateX(var(--board-rotation));
}

.space {
    background: white;
    visibility: hidden;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #058C42;
    color: white;
    padding: 4px;
    font-size: max(2vw, 2vh);
    font-weight: bold;
    box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.2);
}

.tile.special {
    background: #E23742;
}

#tile0 {
    border-radius: 10px 0 0 10px;
}

#tile63 {
    border-radius: 0 10px 10px 0;
}

#tile11,
#tile41 {
    border-radius: 0 var(--tile-curve) 0 0;
}

#tile31,
#tile55 {
    border-radius: var(--tile-curve) 0 0 0;
}

#tile16,
#tile44 {
    border-radius: 0 0 var(--tile-curve) 0;
}

#tile27,
#tile53 {
    border-radius: 0 0 0 var(--tile-curve);
}